@using Newtonsoft.Json;
@model HangFire_MicroUI_Service.Web.ViewModels.JobListViewModel;

<div class="container">
    <div class="row">
        <div class="col-4">
            <label>
                Job Name
            </label>
        </div>
        <div class="col-8">
            <input type="hidden" id="hashData" value="@JsonConvert.SerializeObject(Model.Jobs)" />
            @Html.DropDownListFor(Model => Model.JobId, new SelectList(Model.Jobs.Select(k => k.Key).Distinct().ToList()))
        </div>
    </div>
</div>