@using Newtonsoft.Json;
@model HangFire_MicroUI_Service.Web.ViewModels.JobListViewModel;

@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script>
    $(document).on('change', '.jobId', function () {
        if ($('.jobId').val() != '') {
            var originalData = JSON.parse($('#hashData').val());
            $('#cron').val(originalData.find(x => x.Key == $('.jobId').val() && x.Field == 'Cron').Value);
        }
        else {
            $('#cron').val('');
        }
    });

    $(document).on('click', '#btnUpdateHash', function () {
        var token = $('input[name="__RequestVerificationToken"]').val();
        var hash = {
            "Key": $('.jobId').val(),
            "Value": $('#cron').val(),
        }

        $.ajax({
            url: 'https://localhost:44352/HangFireMicroUI/UpdateJobDetails',
            type: 'POST',
            dataType: 'json',
            ContentType: "application/json",
            data: { 'hash': hash, '__RequestVerificationToken': token },
            success: function (response) {
                if (!response.error) {
                    alert(response.msg);
                    window.location.reload();
                }
                else {
                    alert(response.msg);
                }
            }
        });
    });
</script>

@Html.AntiForgeryToken()
<div class="container">
    <div class="row">
        <div class="col-4">
            <label>
                Job Name
            </label>
        </div>
        <div class="col-8">
            <input type="hidden" id="hashData" value="@JsonConvert.SerializeObject(Model.Jobs)" />
            @Html.DropDownListFor(Model => Model.JobId, new SelectList(Model.Jobs.Select(k => k.Key).Distinct().ToList()), "Please select", new { @class = "form-control jobId " })
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>
                Cron
            </label>
        </div>
        <div class="col-8">
            <input type="text" id="cron" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="button" value="Submit" id="btnUpdateHash" />
        </div>
    </div>
</div>
